
# URL donde va a actuar el web scraper
URL_WEB_SCRAPER = <url del sitio a rastrear>

# EndPoint de la API Rest de mensajería por WhatsApp
URL_API_WA = https://wa-api-rest.azurewebsites.net/api

NUM_DESTINATARIO = <your telephone number for WhatsApp messages>