
# URL donde va a actuar el web scraper
URL_WEB_SCRAPER = <url del sitio a rastrear>

# EndPoint de la API Rest de mensajería por WhatsApp
URL_API_WA = https://wa-api-rest.azurewebsites.net/api

NUM_DESTINATARIO = <your telephone number for WhatsApp messages>

# Datos formulario reservation
NOMBRE = <your name>
APELLIDO1 = <your surname>
APELLIDO2 = <your surname>
DNI = <your DNI number>
TELEFONO = <your phone number>
SEXO = <your sex V/M>
FECHA_NACIMIENTO = <your date of birth>

# Configuración horaria
HORA_SESION = <your prefered sesion. e.g. 8:00 - 9:00>